@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

.App { text-align: center; }
html { font-size: 13px; }
html, body, #root { height: 100%; }

.flex { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.flex1 { flex: 1; &.MuiPaper-root { display: flex } .MuiCardContent-root { flex: 1; padding: 0px !important; } }
.align-center { align-items: center; }
.align-end { align-items: end; }
.justify-end { justify-content: flex-end; }
.space-between { justify-content: space-between; }
.no-margin { margin: 0px !important; width: 100% !important; }
.relative { position: relative; }
.margin-5 { 
  margin: 0px 10px !important; width: calc(100% - 20px) !important;
  & > .MuiPaper-root { display: flex; }
}
.margin-top-20 { margin-top: 20px; }
.overflow { overflow: auto; }
.no-overflow { overflow: hidden; }

.width100 { width: 100%; }
.heigth100 { height: 100%; }

.main-container {
  align-items: center; overflow: auto; width: 100% !important; height: 100% !important; 
  .container { overflow: auto; width: 100%;  }
  .MuiPaper-root { margin: 10px; padding: 10px; width: calc(100% - 20px); }
  .MuiCardHeader-title { font-size: 1.5rem !important; }
  .max-width { max-width: 1200px; margin: 0 auto; width: 100%; }
  #infinite-container { flex: 1; & > .max-width { flex: 1 } }
}

.news-list .max-width { flex-wrap: wrap; }

.md-summary ul { padding: 0; margin-left: 30px; ul { margin-left: 20px; } }

.m2m {
  flex-direction: column;
  & > div {
    display: flex; justify-content: space-between; flex-direction: row; align-items: baseline;
    & > div .MuiChip-root { margin: 5px; }
    & button { min-width: 25px !important;}
  }
}

.modalList { max-height: 380px; overflow: auto; }

/************** FORM ***********/
.MuiFormControl-root { margin: 16px 0px 0px 0px !important; }
.MuiInputLabel-root { line-height: 1em !important; top: -3px !important; }
.MuiOutlinedInput-root { min-height: 40px !important; }

.form {
  gap: 10px;
  .width100 { width: calc(100% - 10px) !important; }
  .width50 { width: calc(50% - 10px) !important; }
  .switch { 
    & > div {
      display: flex; flex-direction: row !important; align-items: center !important; justify-content: space-between !important; 
      min-height: 4rem; margin-top: 1rem;
      & > p { padding-left: 10px; }
      & > p, & > span { align-self: center !important; margin: 0 !important; } 
    }
  }
}

@media screen and (max-width: 700px) {
  .flex-wrap { gap: 0px; .width100, .width50 { width: calc(100%) !important; } }
}

.MuiInputLabel-root.Mui-disabled {
  color: rgba(255, 255, 255, 0.5) !important;
}

.MuiCardContent-root { display: flex; flex-direction: column; flex: 1; }

.search-bar { width: 100%; padding: 10px 0; max-width: 1200px; margin: 0 auto; }

.modale .MuiBox-root { 
  width: 70% !important; height: 50% !important; min-height: 370px;
  .MuiPaper-root {
    display: flex;  overflow: auto; width: 100% !important; height: 100%; 
    .MuiCardContent-root {
      width: 100%; display: flex; flex-direction: column;
    }
  } 
}

@media screen and (max-width: 900px) {
  .main-container { width: 100% !important; 
    .search-bar { padding: 0px 5px !important; }
    .MuiPaper-root { margin: 5px 0px !important; width: calc(100% - 10px) !important; }
    .modale .MuiBox-root { width: 100% !important;  }
  }
}

.news-list .flex { display: flex; flex-direction: row; align-items: start; & > div { width: calc(50% - 20px) } }

.markdown-form { 
  display: flex !important; flex-direction: row !important; overflow: auto !important; flex-wrap: nowrap !important;
  & > div { width: calc(50% - 20px) !important;} 
  & > .MuiPaper-root, & > div { overflow: auto !important; }
  .mardown-with-summary > .MuiPaper-root:nth-child(1) { width: 100% !important; }
  .mardown-with-summary > .MuiPaper-root:nth-child(2) { width: 15% !important; position: fixed !important; right: 20px !important; }
}

.mardown-with-summary {
  display: flex !important; flex-direction: row !important; align-items: flex-start !important;
  & > .MuiPaper-root:nth-child(1) { width: 65% !important; }
  & > .MuiPaper-root:nth-child(2) {  width: 28% !important; position: fixed !important; right: 30px !important; }
}

@media screen and (min-width: 1500px) {
  .mardown-with-summary {
    & > .MuiPaper-root:nth-child(1) { width: 73% !important; }
    & > .MuiPaper-root:nth-child(2) { width: 18% !important; right: 10% !important; }
  }
}

@media screen and (max-width: 900px) {
  .mardown-with-summary {
    flex-direction: row !important;
    .MuiPaper-root:nth-child(1) { width: 100% !important; }
    .MuiPaper-root:nth-child(2) { display: none !important; }
  }
  .news-list .flex { flex-direction: column !important; & > div { width: 100% !important; } }
  
}


.MuiTableCell-root { font-size: 1rem !important; }
thead th.MuiTableCell-root { background-color: var(--mui-palette-primary-main) !important; }

@media (min-width: 600px) {
  .MuiToolbar-root {
      min-height: 48px !important;
  }
}

.form-modale .MuiBox-root { overflow: auto; }

:root {
  --mui-palette-primary-main: #9f9f9f8e;
}